---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>My Atro Site</title>
	</head>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

        <h1>About My Blog</h1>
        <h2>Welcome to My New Blog!</h2>
        
        <h1>Blog Title</h1>
        
        <h1>About the Author</h1>
        <h2>Discover More About Me</h2>
        
        <p>Welcome to my blog! Here, you'll find a collection of my thoughts, experiences, and updates as I navigate through various topics of interest.</p>
        
        <p>This blog will be regularly updated with new content, so be sure to check back often and follow along on this exciting journey!</p>
        
      </body>
</html>
