---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = "Blog";
---
<BaseLayout pageTitle={pageTitle}>
    <h1>About My {pageTitle}</h1>
    <h2>Welcome to My New Blog!</h2>
    
    <h1>Blog Title</h1>
    
    <h1>About the Author</h1>
    <h2>Discover More About Me</h2>
    
    <p>Welcome to my blog! Here, you'll find a collection of my thoughts, experiences, and updates as I navigate through various topics of interest.</p>
    
    <p>This blog will be regularly updated with new content, so be sure to check back often and follow along on this exciting journey!</p>

    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
</BaseLayout>